#uploadContainer{
    width: 75vw;
    max-width: 500px;
    /*height: 300px;*/
    /*height: 75vh;*/
    margin: 20px auto; 
    padding-bottom: 20px;
    border: 3px dashed #ccc; text-align: center; background-color : #4D6C81;color : white;}
#uploadContainer .ul-helper {
    /*text-align: left;*/
    margin-top: 1rem;
}
#uploadContainer ol {
    text-align: left;
    margin-top: 0;
}
#uploadContainer li {
    line-height: 2rem;
}
#mainContent{margin: 20px auto;}
.gameBoard{width: 500px;margin: 20px auto;}
#source_holder{
    width: 500px; 
    height: 500px;
    background-size:500px;
    clear:both;
    float:left;
}
.helpText {
    clear:both;
    font-weight: bold;
    color: #4D6C81;
    max-width: 500px;
    margin: 0 auto;
}
.footer {
    text-align: center;
}

#helpText h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.button{
    width : 100px; 
    height: 30px;
    text-align:center;
    margin-bottom:5px;
    cursor:pointer;
    line-height:30px;
    margin-right:10px;
    background-color : #4D6C81;
    color : white;
    border-radius:5px;
    float:left;
}
.button#share {
    /*width: 170px;*/
}

.button#share img {
    float: left;
    margin-top: 4px;
    margin-left: 5px;
}

#slider{clear:both;}
.hide{display:none;}
.show{ display:block;}
.floatleft{ float : left;}
.floatRight{ float : right;}
.tile{ 
    width: 125px; 
    height: 125px;
    background-size:500px;
}
.timeCount{
    font-weight: bold;
    color: #4D6C81;
    height:30px;
    width : 140px;
    line-height:30px;
    text-align: right;
    display: inline-block;
    max-width: 140px;
    overflow: hidden;
    padding-right: 1.5rem;
    white-space: nowrap;
}
.onHover{ -webkit-transform: scale(1.1); -o-transform: scale(1.1); -moz-transform: scale(1.1); }

/*
.tile.tile00{background-position: 0px 0px;}
.tile.tile01{background-position: -125px 0px;}
.tile.tile02{background-position: -250px 0px;}
.tile.tile03{background-position: -375px 0px;}

.tile.tile10{background-position: 0px -125px;}
.tile.tile11{background-position: -125px -125px;}
.tile.tile12{background-position: -250px -125px;}
.tile.tile13{background-position: -375px -125px;}

.tile.tile20{background-position: 	0px -250px;}
.tile.tile21{background-position: -125px -250px;}
.tile.tile22{background-position: -250px -250px;}
.tile.tile23{background-position: -375px -250px;}

.tile.tile30{background-position:  0px -375px;}
.tile.tile31{background-position: -125px -375px;}
.tile.tile32{background-position: -250px -375px;}
.tile.tile33{background: #666666 !important; }
*/
/*
.tile.tile00{background-position: 0px 0px;}
.tile.tile01{background-position: -125px 0px;}
.tile.tile02{background-position: -250px 0px;}
.tile.tile03{background-position: -375px 0px;}

.tile.tile10{background-position: 0px -125px;}
.tile.tile11{background-position: -125px -125px;}
.tile.tile12{background-position: -250px -125px;}
.tile.tile13{background-position: -375px -125px;}

.tile.tile20{background-position: 0px -250px;}
.tile.tile21{background-position: -125px -250px;}
.tile.tile22{background-position: -250px -250px;}
.tile.tile23{background-position: -375px -250px;}

.tile.tile30{background-position:  0px -375px;}
.tile.tile31{background-position: -125px -375px;}
.tile.tile32{background-position: -250px -375px;}
.tile.tile33{background: #666666 !important; }
*/
.tile.onHover {
    cursor: pointer;
}

.buddy_drag_clone{position: fixed; border: 1px solid #dcdcdc; z-index: 200012; cursor:pointer;}

#gameBoardFinish {
    display: none;
}

.at-share-btn-elements {
    text-align: center;
}